body {
	font-family: 'Droid Serif', serif;
	font-size: 1.125em;
	color: #666;
}

p {
	line-height: 1.7rem;
}

h1, h2, h3, h4, .button {
	font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4 {
	color: #555;
}

h1 {
	font-size: 3.157em;
	line-height: 1.1em;
}

h2 {
	font-size: 2.369em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.777em;
	line-height: 1.3em;
}

h4 {
	font-size: 1.333em;
	line-height: 1.4em;
}

li {
	line-height: 1.8em;
}

/*====== BUTTONS ======*/
.button {
	border: 2px solid;
	border-radius: 4px;
	padding: 1.3vw 2vw;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1.5px;
}

.button-blue {
	background: -webkit-linear-gradient(top, #0054D0, #1717AD);
	background: -o-linear-gradient(top, #0054D0, #1717AD);
	background: -moz-linear-gradient(top, #0054D0, #1717AD);
	background: linear-gradient(top, #0054D0, #1717AD);
	color: #FFFFFF;
	border: #1717AD;
}

.button-blue:hover {
	background: #1717AD;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.logo img {
	max-width: 32vw;
}

.hero-image img {
	max-width: 100%;
}

.menu-icon {
	position: absolute;
	top: 1.3vw;
	right: 1.3vw;
}

.menu-icon img {
	max-height: 9vw;
}

.header-button {
	position: absolute;
	top: 48vw;
	left: 50%;
	margin-left: -9.2vw;
	font-size: 2.5vw;
}

.header-headlines {
	position: absolute;
	top: 24vw;
	text-align: center;
	left: 50%;
	margin-left: -33vw;
}

.header-headlines h1,
.header-headlines h3 {
	font-weight: 400;
}

.header-headlines h1 {
	color: #fff;
	font-size: 10vw;
	margin: 0;
	letter-spacing: 5px;
}

.header-headlines h3 {
	color: #FFD700;
	font-size: 3.5vw;
	margin: 0;
	letter-spacing: 3px;
}

.options {
	position: relative;
	margin-top: -4px;
	min-height: 980px;
}

.options-img {
	background-image: url("images/banners/spencerisbig-1920x1280px.jpg");
}

.options-content {
	position: relative;
	padding: 90px 0px;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}

.options-content h1,
.options-content h3,
.options-content h4 {
	text-align: center;
}

.options-content h1 {
	margin-bottom: 0;
}

.options-content h4 {
	margin-top: 5px;
	color: #888;
}

.options-content ul {
	list-style-type: none;
	background-color: rgba(255, 204, 0, 0.1);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	margin: 40px 0px 60px 0px;
	border: 1px solid #ffab00;
	border-radius: 5px;
}

.options-content li {
	color: #444;
}

.options-content-button {
	text-align: center;
	margin-top: -40px;
}

.testimonials {
	position: relative;
}

.testimonials-img {
	background-image: url("images/banners/gym-woman-abs-sportswear1.jpg");
}

.testimonials-content {
	position: relative;
	padding: 100px 0;
	margin: 0 2%;
}

.testimonials-content h1 {
	width: 300px;
	text-align: center;
	margin: 0 auto 90px;
	color: #cfcfcf;
}

.testimonials-content h2 {
	color: #f1f1f1;
}

.testimonials-content p {
	color: #cfcfcf;
}

.testimonials-content-left,
.testimonials-content-right {
	max-width: 35rem;
	display: inline-table;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.testimonials-content-left {
	margin-right: 20px;
	margin-bottom: 40px;
}

.testimonials-content-right {
	float: right;
}

.image-and-name {
	display: flex;
}

.image-and-name h2 {
	margin-left: 20px;
}

@media screen and (max-width: 1192px) {
	.testimonials-content {
		width: 580px;
		margin: 0 auto;
	}
	
	.testimonials-content-left {
		margin-right: 0;
	}
	
	.testimonials-content-right {
		float: none;
	}
}



































